<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="HomePage.css">
    <title>NXB XYZ</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo 2">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
<!-- Picture Slideshow -->	
<div class = "slideshowContainer">
	<div class="slideshowWrapper">
		<img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/429769436_793325049493786_5099032077878481721_n.png?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=KM9Q_49vHisAX80315n&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfDJBOTXc2-mQflLYYSpdvRnjSq9lJ6yRtpp5pzM3ukM4g&oe=65F48AC8">
		<img src="https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/429761455_788672003292424_5511333211593064129_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=_OGDHBR3V5wAX9hF0ZA&_nc_ht=scontent.fsgn2-9.fna&oh=00_AfAXy_dVT7kDHCWstdM_ed9Eb94Kfyv8Av5RFWElHIc6Eg&oe=65F50EAC">
		<img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/422926304_769173211908970_6503539016331753349_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=9TTw5Bkbr1wAX-J6WK4&_nc_ht=scontent.fsgn2-6.fna&oh=00_AfBDbumzd5_Qd-lIkKAU8AYpRM3TX7z-iqE3wTy5npkEgg&oe=65F45104">
		<img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/405591858_732488375577454_5744678024913554847_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ZrmmOm9TQn8AX-mKvH1&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfCr5IRO3gDb5FMI6EMASR988zDrTEe6ypvKXNawW946OQ&oe=65F52B5E">
		<img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/429769436_793325049493786_5099032077878481721_n.png?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=KM9Q_49vHisAX80315n&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfDJBOTXc2-mQflLYYSpdvRnjSq9lJ6yRtpp5pzM3ukM4g&oe=65F48AC8">
	</div>
</div>	
<!-- NavBar -->
<header>
<div class="logo">NXB XYZ</div>
<input type="checkbox" id="nav_check" hidden>
<nav>
    <ul>
        <li>
            <a href="" class="active">Trang chủ</a>
        </li>
        <li>
            <a href="">Sản phẩm</a>
        </li>
        <li>
            <a href="">Tìm kiếm</a>
        </li>
        <li>
            <a href="">Giỏ hàng</a>
        </li>
        <li>
            <a href="">Người dùng</a>
        </li>
    </ul>
</nav>
<label for="nav_check" class="smallScale">
    <div></div>
    <div></div>
    <div></div>
</label>
</header>
	
<!-- Grid san pham -->	
<div class="homepageTitle">Ấn phẩm mới phát hành</div>
<div class = "wrapper">
    <div class = "container">
		<div class = "sanPham">
		    <div class = "containerSP">         
                <% Object.keys(pros).forEach(key => { %>
                    <div class="itemSP">
                        <div class="imgSP">
                            <img src="<%= pros[key].picURL %>" alt="imageSP">
                        
                        <div>
                            <button type="button" class="add-btn">Thêm vào giỏ </button>
                        </div>
                    </div>
                    <div class="contentSP">
                        <a href="#" class="book-title"><%= pros[key].name %></a>
                        <p class="author">Tác giả: <span><%= pros[key].author %></span></p>
                        <div><span class="giaTien"><%= pros[key].price %></span></div>
                    </div>
                    </div>
                <% }); %>
               
              
            </div>
        </div>
	</div>
</div>
	
<!-- Footer -->
<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>NXB XYZ</h4>
  	 			<ul>
  	 				<li><a href="#">Về chúng tôi</a></li>
  	 				<li><a href="#">Dịch vụ của chúng tôi</a></li>
  	 				<li><a href="#">Chính sách bảo mật</a></li>
  	 				<li><a href="#">Chương trình liên kết</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Bạn cần trợ giúp?</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Giao hàng</a></li>
  	 				<li><a href="#">Đổi trả</a></li>
  	 				<li><a href="#">Trạng thái đơn hàng</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">Manga</a></li>
  	 				<li><a href="#">Light Novel</a></li>
  	 				<li><a href="#">Comics</a></li>
  	 				<li><a href="#">Kỹ năng sống</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Theo dõi chúng tôi</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
	
</body>
</html>
