@charset "utf-8";
/* CSS Document */
.webTitle{
	margin-top: 130px;
	margin-left: 80px;
	font-size: 2vw;
	margin-bottom: 10px;
}
/* NavBar */
header {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0px;
  background: #fff;
  width: 93%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 49px;
  border: 3px solid black;
  z-index: 100;
}

header .logo {
  font-size: 30px;
  text-transform: uppercase;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  display: inline-block;
  color: #000;
  padding: 5px 0;
  margin: 0 25px;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.2s;
  text-decoration: none;
  font-size: 1.5vw !important;
}

header nav ul li a:hover,
header nav ul li a.active {
  border-bottom-color: dodgerblue;
}

.smallScale {
  cursor: pointer;
  display: none;
}

.smallScale div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #000;
}

/* Responsive styles */
@media only screen and (max-width: 900px) {
  header {
      padding: 0 30px;
  }
}

@media only screen and (max-width: 700px) {
  .smallScale {
      display: block;
  }

  header nav {
      position: absolute;
      width: 100%;
      left: -100%;
      top: 70px;
      background: #fff;
      padding: 30px;
      transition: 0.3s;
  }

  header #nav_check:checked ~ nav {
      left: 0;
  }

  header nav ul {
      display: block;
  }

  header nav ul li a {
      margin: 5px 0;
  }
}

/* Search box styles */
.search-box-container {
  display: none;
  position: fixed;
  top: 70px; /* Adjust as necessary */
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  border: 3px solid black;
  box-sizing: border-box;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%;
  margin-right: 10px;
font-size: 0.9rem;
}

.search-box button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
font-weight: bold;
font-size: 0.9rem;
}

.search-box button:hover {
  background-color: black;
color: white;
}

/* Cart box */
#cart-container {
  display: flex;
  align-items: center;
}

.cart-box {
  border: 3px solid black;
  display: inline-block; /* Đảm bảo các cart-box nằm liền kề nhau */
  align-items: center;
  padding: 0 10px;
  margin-right: -7px;
}

.cart-box:first-child {
  background-color: black;
color: white;
}

.cart-box span {
  font-size: 1.5vw;
}


.dropdown {
  position: relative;

}

.dropdown-content {
  display: none;
margin-top: 14px;
border: 3px solid black;
border-collapse: collapse;
  position: absolute;
  top: 100%;
  left: 0;
  width: 411px;
  background-color: #fff;
  z-index: 1000;
}

.login-box {
  padding: 20px;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
margin-bottom: 10px;
font-size: 1.1rem;
}

.login-box input {
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 4px;
}

.login-box button {
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 4px;
  cursor: pointer;
font-size: 1rem;
  margin-top: 15px;
}

.login-box button:hover {
  background-color: black;
color: white;
}

.hidden-form {
  display: none; /* Hide the form */
}

/* Product img & des */
/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
	margin-top: 30px;
}
 
.container1 {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column1 {
  flex: 0 0 20%;
}
 
.right-column1 {
  flex: 1;
  margin-top: 60px;

}

/* Left Column */
.left-column1 img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
 
.left-column1 img.active {
  opacity: 1;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 17px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

.product-description h3 {
  font-weight: bold;
  font-size: 25px;
}

.product-description p {
  font-size: 17px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Books Configuration */
.edition-choose {
  margin-bottom: 20px;
  margin-top: 15px;
}
 
.edition-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.edition-choose button:hover,
.edition-choose button:active,
.edition-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.edition-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.edition-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
 
.edition-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}


/* Responsive */
@media (max-width: 940px) {
  .container1 {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column1,
  .right-column1 {
    width: 100%;
  }
 
  .left-column1 img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column1 img {
    width: 220px;
    top: -85px;
  }
}

/* Footer */	
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* Grid product */
.h1{
	font-family: 'Baloo 2', sans-serif;
	margin-left: 10px;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1rem;
}
.title{
    margin-top: 3rem;
    text-align: center;
    position: relative;
}
.title::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 3px;
    width: 200px;
    background-color: #000;
}
.title h1{
    font-weight: bold;
    opacity: 0.8;
}
.sanPham{
    margin: 3rem 0;
}
.containerSP{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.itemSP{
    width: calc(25% - 16px);
    margin: 8px;
    background-color: #fff;
    max-width: 300px;
}
.imgSP {
  height: 400px;
  width: 260px;
  position: relative;
  overflow: hidden;
}

.itemSP img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  display: block;
}

.imgSP div{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 0.8rem;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	
}
.add-btn{
    width: 90%;
    background-color: transparent;
    border: 2px solid black;
    color: green;
    font-family: inherit;
    font-size: 0.9rem;
    padding: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
}
.imgSP:hover div{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.contentSP{
    padding: 0.5rem 1rem;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.book-title{
    display: block;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.2rem 0;
	font-family: 'Montserrat', sans-serif;
}
.author{
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0.9;
    text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	
}
.author span{
    font-weight: 400;
    color: rgb(76, 99, 76);
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.contentSP div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.giaTien{
    color: #ff1616;
	font-weight: bold;
	
}

@media screen and (max-width: 1200px){
    .product-item{
        width: calc(25% - 16px);
    }
}
@media screen and (max-width: 992px){
    .product-item{
        width: calc(33.3333% - 16px);
    }
}
@media screen and (max-width: 768px){
    .product-item{
        width: calc(50% - 16px);
    }
}
@media screen and (max-width: 576px){
    .product-item{
        width: calc(100% - 16px);
    }
}