@charset "utf-8";
/* CSS Document */
.webTitle{
	margin-top: 130px;
	margin-left: 80px;
	font-size: 2vw;
	margin-bottom: 10px;
}
.webTitle2{
	margin-left: 80px;
	font-size: 2vw;
	margin-bottom: 10px;
}
/* NavBar */
header {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0px;
    background: #fff;
    width: 93%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 49px;
    border: 3px solid black;
    z-index: 100;
}

header .logo {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 25px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
    font-size: 1.5vw;
}

header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: dodgerblue;
}

.smallScale {
    cursor: pointer;
    display: none;
}

.smallScale div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}

/* Responsive styles */
@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 700px) {
    .smallScale {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
    }

    header #nav_check:checked ~ nav {
        left: 0;
    }

    header nav ul {
        display: block;
    }

    header nav ul li a {
        margin: 5px 0;
    }
}

/* Search box styles */
.search-box-container {
    display: none;
    position: fixed;
    top: 70px; /* Adjust as necessary */
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    border: 3px solid black;
    box-sizing: border-box;
}

.search-box {
    display: flex;
    align-items: center;
	justify-content: center;
}

.search-box input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 70%;
    margin-right: 10px;
	font-size: 0.9rem;
}

.search-box button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
	font-weight: bold;
	font-size: 0.9rem;
}

.search-box button:hover {
    background-color: black;
	color: white;
}

li{
    font-weight: 600;
}

.li {
    margin-top:3px;

}

/* Cart box */
#cart-container {
    display: flex;
    align-items: center;
}

.cart-box {
    border: 3px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.cart-box:first-child {
    background-color: black;
	color: white;
}

.cart-box span {
    font-size: 1.5vw;
    align-items: 0 1px;
}

.cart-box a{
    color: #fff;
}


.dropdown {
    position: relative;
	
}

.dropdown-content {
    display: none;
	margin-top: 14px;
	border: 3px solid black;
	border-collapse: collapse;
    position: absolute;
    top: 100%;
    left: 0;
    width: 411px;
    background-color: #fff;
    z-index: 1000;
}

.login-box {
    padding: 20px;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
	margin-bottom: 10px;
	font-size: 1.1rem;
}

.login-box input {
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 4px;
}

.login-box button {
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 4px;
    cursor: pointer;
	font-size: 1rem;
    margin-top: 15px;
}

.login-box button:hover {
    background-color: black;
	color: white;
}

.hidden-form {
    display: none; /* Hide the form */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.deliveryTable {
    display: flex;
    justify-content: center;
	margin-bottom: 50px;
}

table {
        width: 90%;
        border-collapse: collapse;
        border: 3px solid black;
    }
th {
        border-bottom: 2px solid black;
        padding: 20px;
        text-align: center;
		vertical-align: middle;
		font-size: 1.4rem;
    }
td {
        border-bottom: 2px solid black;
        padding: 20px;
        text-align: center;
		vertical-align: middle;
		font-size: 1.1rem;
    }


/* Footer */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

